<div class="bg-secondary p-3 @-sm-5 my-4 rouded">
  <div class="text-center text-white">
    <h1>Welcome to the Microposts</h1>
    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>